<h1>Film Database</h1>

<h2>Below is a list of films added by users</h2>

<div class="film-list">
  {{#if film}}
    <ul>
      {{#each filmInfo}}
        <li>
          <a href="/filmInfo/{{this.id}}">{{this.name}}</a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No films listed in the database</p>
  {{/if}}

</div>

<p><a href='/'>Homepage</a></p>
