<h1>Film Database</h1>

<h2>Below is a list of films added by users</h2>

<div class="film-list">

  {{#each films}}
    <p><a class="filmTitles" href="/film/{{this.id}}">{{this.filmTitle}}</a></p>
  {{else}}
    <p>There are no films on this site</p>
  {{/each}}

</div>

<p>
  <a class="Homepage" href='/'>Homepage</a>
  <a class="Login" href='/login'>Login</a>
  <a class="Signup" href='/signup'>Signup</a>
</p>
