<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>In order to add your favorite films for all to see please create an account.</p>

<h2>The link below will take you to the datbase of films added</h2>

<p>
  <a class="Database" href='/database'>Database</a>
</p>

<p>
  <a class="Login" href='/login'>Login</a>
  <a class="Signup" href='/signup'>Signup</a>
</p>
