<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h2>Enter a new film here<h2>

<div class='new-film'>
  <form method='POST' action='/addFilm'>
    Film Title:     <input name="filmTitle">        <br>
    Film Synopsis:  <textarea name="filmSynopsis" rows="10" cols="60"></textarea>  <br>
    <button type='submit'>Add Film</button>
  </form>
</div>

<h2>The link below will take you to the datbase of films added</h2>

<p>
  <a class="Database" href='/loggedindatabase'>Database</a>
  <a class="Personal" href='/secret'>Personal</a>
</p>

<p><a class="Logout" href='/logout'>Log out</a></p>
