<h1>Film Database</h1>

<h2>Below is a list of films added by users</h2>

<div class="film-list">

  {{#each films}}
    <p>
      <form class="delete-form" action="/delete" method="POST">
        <a class="filmTitles" href="/film/{{this.id}}">{{this.filmTitle}}</a>
        <input class="delete-button" type="submit" name="delete" value="Delete">
        <input type="hidden" name="_id" value="{{this._id}}">
      </form>
    </p>
  {{else}}
    <p>There are no films on this site</p>
  {{/each}}

</div>

<p class="links">
  <a class="Homepage" href="/loggedinhome">Homepage</a>
  <a class="Personal" href='/secret'>Personal Page</a>
  <a class="Logout" href='/logout'>Log out</a>
</p>
