<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h2>Enter a new film here<h2>
  <form method='POST' action='/addFilm'>
    <input id='filmTitle' name='text' placeholder='Film Title'>
    <input id='filmSynopsis' placeholder='Film Synopsis'>
    <button type='submit'>Add Film</button>
  </form>

<h2>The link below will take you to the datbase of films added</h2>

<p>
  <a href='/database'>Database</a>
  <a href='/secret'>Favorites</a>
</p>

<p><a href='/logout'>Log out</a></p>
