<h2>Log in to your account</h2>

<form method="POST" action="/login">
  Username: <input name="username"/>
  Password: <input type="password" name="password"/>

  <input class='login' type="submit" value="Login">
</form>

<p>If you don't have an account, you can
  <a class="Signup" href="/signup">Sign up here</a>
</p>

<p class="links">
  <a class="Homepage" href='/'>Homepage</a>
</p>
